<!DOCTYPE html>
<html class="" lang="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>オンラインitoモドキ</title>
</head>

<body>
    <div id="header"></div>

    <div id="playerName"></div>

    <h1>{{message}}</h1>
    <div>
        <ul id="messages"></ul>
    </div>

    <div id="socket"></div>

    <div id="footer"></div>
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
        integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
        crossorigin="anonymous"></script>
    <script src="assets/dist/app.js"></script>
</body>

</html>